     /* Colors to use */
    :root {
    background-color: #f0f5f1e5;font-family: 'Roboto', sans-serif; margin: 20px;
    --baltic-blue: #22577a;
    --tropical-teal: #38a3a5;
    --emerald: #57cc99;
    --light-green: #80ed99;
    --tea-green: #c7f9cc;
    --dark-grape: #440865f7; 
    --grape: #9747c2ab;
    --pink: #e7b5e7ab;
    }

nav a {
    background-color: var(--tea-green);
    text-decoration: none;
    padding: 1em;
    text-align: center;
    border: 8px solid var(--baltic-blue);
    margin-bottom: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a:visited {
    text-decoration: none;
}
nav a:hover {
    background-color: var(--baltic-blue);
    color: var(--tea-green);
    border-radius: 8px;
    border: 8px solid var(--tea-green);
}
nav .active {
    background-color: var(--baltic-blue);
    color: var(--tea-green);
    border-radius: 8px;
    border: 8px solid var(--baltic-blue);
}


main {
    display: grid;
    grid-template-columns: 100%;
    justify-content:space-around;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 20px;
    border: 8px;
}


.grid-item {
    padding: 1em;
    background-color: var(--tea-green);
    border: .5px solid var(--baltic-blue);
    color: var(--dark-grape);
    text-align: center;
    border-radius: 4px;
    font-size: 1.25rem;
}
.grid-container {
display: -moz-groupbox

}
.item1 {
  grid-template-rows: auto;
  grid-gap: 5px;
  padding: 5px;
  margin: 10px;
  text-align-last: center;
} 
.item2 {
  display: grid;
  grid-template-rows: auto auto auto;
  box-align:right;
  grid-gap: 2px;
  padding: 0px;
  margin: 5px
} 

.card {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;

}
.card div {
  background-color: var(--pink);
  width: 50%;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;

}
.card-center {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

}
.card-center div {
    color: var(--dark-grape);
    width: 75%;
    text-align: center;  
    font-size: 30px;


}
.navigation-flex {
  display: flex;                  
  flex-direction: row;            
  flex-wrap: nowrap;             
  justify-content: space-between;       
  align-items: center;            
  gap: 15px;  
}
.navigation-flex-item{

  flex: 1 1 auto;                
  align-self: auto;             
  order: 1;                       
}

.button {
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    width:25%;
    cursor: pointer;

}
.button1:hover {
  background-color: var(--emerald);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.button2:hover {
  background-color: var(--tropical-teal);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.button3:hover {
  background-color: var(--grape);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

/*Overrides h2 commands while part of a button*/

.button1 h2 {
  color: var(--tropical-teal);    
 
}
.button1:hover h2 {
  color: var(--dark-grape);       

}
.button2 h2 {
  color: var(--light-green);        

}
.button2:hover h2 {
  color: var(--grape);       
}
.button3 h2 {
  color: var(--tropical-teal);       

}
.button3:hover h2 {
  color: var(--dark-grape);        

}
/*End of override */

img {
        max-width: 100%;
        height: auto;
        border: 8px solid var(--baltic-blue);

}

    
        h1 {
            color: var(--dark-grape);
            -webkit-text-stroke: .5px #000000;   
            display:contents;

        }
        h2 {
            color: var(--dark-grape);
            -webkit-text-stroke: .5px #000000;
            text-align: center;
        }
        h3 {
             /*-webkit-text-stroke: .5px #000000; */    
            text-align: left;
        }
        p {
            display:block;
            text-align: center;
            text-wrap: inherit;
            font-style: normal;
        }
        li{
            text-align: left;
            flex-direction: column;
            text-align: center;
        }
.eats {
    border-radius: 10%;
   list-style: none;

}
footer {
    background-color: var(--tea-green);
    text-align: center;
    padding: 1em;
    border-radius: 8px;
}
  


