  /* This is where I am formatting the text and background color for my page */
  <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #ffffff;
        }
        h1 {
            color: #0000FF;
        }
        h2 {
            color: #0000FF;
        }
        h3 {
            color: #0000FF;
        }

    </style>