
  /* This is where I am formatting the text and background color for my page */
  <style>
   :root {
  --baltic-blue: #22577a;
  --tropical-teal: #38a3a5;
  --emerald: #57cc99;
  --light-green: #80ed99;
  --tea-green: #c7f9cc;
}

body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #c7f9ccd3;
            .text-outline {
  /* Syntax: thickness color */
  
        }
        h1 {
            color:#22577a;-webkit-text-stroke: .5px #000000; 
        }
        h2 {
            color:#38a3a5;-webkit-text-stroke: .5px #000000; 
        }
        h3 {
            color:#57cc99;-webkit-text-stroke: .5px #000000; 
        }

    </style>

